body {
	line-height: 160%;
	font-family: "Trebuchet MS";
	margin: 0px;
	color: #41411F;
	background-color: #D3D1BA;
}

table tr td, table tr th {
    border: 1px solid #000;
}

#top_menu {
    background-color: #000;
    color: #97925B;
    height: 40px;
    font-family: Arial;
    font-size: 14px;
}

#top_menu ul {
     margin: 0px;
     padding-top: 8px;
     padding-left: 120px;
     list-style: none;
}

#top_menu ul li {
     display: inline;
     margin-left: 30px;
}

#top_menu ul li a {
  color: #cc6;
  font-family: "Lucida Sans", "Trebuchet MS", "Arial";
  font-size: 14px;
}

#top_menu ul li a:hover {
  color:#97925B;
}

#lang_menu {
  position:absolute;
  top: 135px;
  right: 30px;
  color:#fff;
}

#lang_menu a {
  color: #cc6;
}

#lang_menu a:hover {
  color: #97925B;
}

#header {
	background-repeat: no-repeat;
	padding-top: 70px;
	padding-left: 15px;
	padding-bottom: 10px;
	color: #cc6;
	width: auto;
	background-color: #41411F;
	background-image: url(images/logo.png);
}

#header h1 {
    font-size: 26px;
}

#maincontainer{
width: 100%;
margin: 0 auto;
}

#topsection{
background: #EAEAEA;
height: 90px;
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin-right: 400px;
padding-top: 20px;
padding-right: 50px;
padding-left: 50px;
}

#rightcolumn{
float: left;
width: 360px;
margin-left: -400px;
background: #000;
border: 20px #000 solid;
color: #fff;
}

#rightcolumn a {
  color: #cc6;
}

#rightcolumn a:hover {
  color:#97925B;
}

.ident {
  padding-left: 10px;
}
.ident2 {
  padding-left: 20px;
}

.before_paragraph {
  line-height: 260%;
}

pre {
font-family: "Monaco", "Courier New", Courier, monospace;
font-size: 13px;
background-color: #B0AC82;
color: #41411F;
width: 99%;
overflow: auto;
padding: 9px;
}

#footer {
  clear: left;
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background-color: #41411F;
  border-top: #000 solid 6px;
  color: #fff;
  font-size: 13px;
}

#footer {
  clear: left;
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background-color: #41411F;
  border-top: #000 solid 6px;
  color: #fff;
  font-size: 13px;
}

#footer a {
  color: #D3D1BA;
  text-decoration: none;
}

#footer a:hover {
  color: #F3F1DA;
}

.footer_columns {
  margin-top: 40px;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.footer_column {
  width: 230px;
  float: left;
  margin-right: 25px;
}

#footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 7px;
  padding-top: 7px;
  border-top: 1px solid #61613F;
}

#footer ul li {
  margin: 0px;
  padding: 0px;
  line-height: 180%;
}

.copyright {
  clear: left;
  padding-top: 15px;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px;
}

.navlink {
  width:100%;
  text-align:right;
}

.navlink a {
  color: #97925B; 
  font-family: "Trebuchet MS";
}


.highlight .s1 {
color: green; !important
}

.highlight .na {
color: #633000; !important
}

.highlight .o {
color: #A35C00; !important
}

.highlight .mi {
color: #CF0000; !important
}