{% extends "!layout.html" %}

{% set css_files = css_files + ['_static/phpspec.css', 'http://fonts.googleapis.com/css?family=Lobster'] %}

{% block content %}
    <div id="top_menu">
     <ul>
      <li><a href="http://www.phpspec.net/">Home</a></li>
      <li>Documentation</li>
      <li><a href="http://www.phpspec.net/download">Download</a></li>
      <li><a href="http://www.phpspec.net/screencasts">Screencasts</a></li>
      <li><a href="http://groups.google.com/group/phpspec-dev">Community</a></li>
      <li><a href="http://github.com/phpspec/phpspec">Github</a></li>
     </ul>
    </div>
    <div id="header">
      <div class="innertube"><h1>Reference Manual</h1></div>
      <a href="http://github.com/phpspec/phpspec"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
      <div id="lang_menu">
       <a href="/documentation/ja/before-we-get-started.html">ja</a> | en
      </div>
    </div>

    <section class="docs">

        <nav class="toc">
            <h3>Table of Contents</h3>
            {{ toctree }}
        </nav>

        <section class="documentation">
            {% block body %}{% endblock %}
        </section>

    </section>

    <div id="footer">
 <div class="footer_columns">
  <div class="footer_column">
   <div class="footer_column_title">Documentation</div>
   <ul>
    <li><a href="http://www.phpspec.net/documentation/before-we-get-started.html">Before we get started</a></li>
    <li><a href="http://www.phpspec.net/documentation/installing-phpspec.html">Installing PHPSpec</a></li>
    <li><a href="http://www.phpspec.net/documentation/getting-started.html">Getting started</a></li>
    <li><a href="http://www.phpspec.net/documentation/introduction.html">Introduction</a></li>
    <li><a href="http://www.phpspec.net/documentation/phpspec-goals.html">PHPSpec's goals</a></li>
    <li><a href="http://www.phpspec.net/documentation/writing-specs.html">Writing specs with PHPSpec</a></li>
    <li><a href="http://www.phpspec.net/documentation/execution-methods.html">Execution methods for PHPSpec</a></li>
   </ul>
  </div>
  
  <div class="footer_column footer_center">
   <div class="footer_column_title">Articles</div>
   <ul>
    <li><a href="http://techportal.ibuildings.com/2011/08/03/outside-in-behaviour-driven-development-in-php-part-2/">Beyond TDD with PHPSpec</a></li>
    <li><a href="http://blog.astrumfutura.com/2007/11/ruby-testing-tools-missing-from-php/">Ruby Testing Tools Missing From PHP</a></li>
    <li><a href="http://css.dzone.com/articles/phpspec-bdd-your-classes?mz=30309-phpwindows">PHPSpec: BDD for your classes</a></li>
    <li><a href="http://blog.andho.com/2011-07-27/behavior-driven-development-with-php-and-phpspec-web-runner/">PHPSpec Web Runner</a></li>
    <li><a href="http://kristiannissen.wordpress.com/2009/12/08/drupal-unit-testing-using-phpspec/">Drupal Unit testing using PHPSpec</a></li>
   </ul>
  </div>
  
  <div class="footer_column footer_center">
   <div class="footer_column_title">Screencasts &amp; Presentations</div>
   <ul>
    <li><a href="http://vimeo.com/27094615">PHPSpec Installation and Getting Started</a></li>
    <li><a href="http://www.slideshare.net/marcello.duarte/bdd-for-zend-framework-with-php-spec">BDD For Zend Framework With PHPSpec</a></li>
   </ul>
  </div>
  
 </div>
 <p class="copyright">Copyright &copy; 2012 The PHPSpec Team</p>
</div>
    

  

 </div>
</div>
    
    
    
{% endblock %}

{% block footer %}{% endblock %}
